<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sales.pipesandconduit.tracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tracker">
        <activity android:name=".CustomersActivity"
            android:label="@string/title_activity_customers"
            android:theme="@style/Theme.Tracker.NoActionBar" />
        <activity
            android:name=".AddCustomerActivity"
            android:label="@string/title_activity_add_customers"/>
        <activity android:name=".CartActivity" />
        <activity
            android:name=".EditItemActivity"
            android:label="@string/title_activity_edit_item" />
        <activity
            android:name=".StockActivity"
            android:label="@string/title_activity_stock" />
        <activity
            android:name=".CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:theme="@style/Theme.Tracker.NoActionBar" />
        <activity
            android:name=".ExpenseActivity"
            android:label="@string/title_activity_expenses" />
        <activity
            android:name=".ProductsActivity"
            android:label="@string/title_activity_products"
            android:theme="@style/Theme.Tracker.NoActionBar" />
        <activity
            android:name=".AddExpenseActivity"
            android:label="@string/title_activity_add_expense" />
        <activity
            android:name=".NewSaleActivity"
            android:label="@string/title_activity_new_sale" />
        <activity android:name=".TransactionsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tracker.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>